In [4]:
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langchain.prompts import PromptTemplate
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd
import prompts as p


# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

PROMPT = p.zero_shot_single_table
prompt_name = "zero_shot_single_table"
MODEL = "gpt-4-turbo-preview"
MAX_TOKENS = 15
TEMP = 0

OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/{prompt_name}_{MODEL}.csv"
CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample.csv"

In [5]:
# Read the CSV file into a DataFrame
df = pd.read_csv(CORRESPONDENCES_PATH)
df["y_pred"] = None
df["prompt_name"] = None
df["prompt"] = None
print(df.head())

   table_index                      table_name  column_index_left  \
0            0  29021592_3_2299138476894681059                  0
1            1  29021592_3_2299138476894681059                  3
2            2  29021592_3_2299138476894681059                  4
3            3  29021592_3_2299138476894681059                  2
4            4  29021592_3_2299138476894681059                  0

   column_index_right  y_true y_pred prompt_name prompt  \
0                   0    True   None        None   None
1                   0   False   None        None   None
2                   0   False   None        None   None
3                   0   False   None        None   None
4                   3   False   None        None   None

                                      column_table_A  \
0        Domitian | Hadrian | Nerva | Titus | Trajan
1  Titus Flavius Domitianus | Publius Aelius Hadr...
2              81-96 | 117-8 | 96-8 | 79-81 | 98-117
3                        nan | nan | nan | nan | nan
4        Domitian | Hadrian | Nerva | Titus | Trajan

                                      column_table_B  \
0  Marcus Silius Messala | Titus | Hadrian | Vesp...
1  Marcus Silius Messala | Titus | Hadrian | Vesp...
2  Marcus Silius Messala | Titus | Hadrian | Vesp...
3  Marcus Silius Messala | Titus | Hadrian | Vesp...
4  nan | Imperator Titus Caesar Vespasianus Augus...

                                             table_A  \
0  | Column A-0   | Column A-1        |   Column ...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                             table_B
0  | Column B-0            |   Column B-1 | Colum...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [6]:
def execute(df, prompt, prompt_name, start = 0):
    last = df.iloc[0]
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, max_tokens=MAX_TOKENS, timeout=10)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, max_tokens=MAX_TOKENS, timeout=10)
    for i in range(start, len(df)):
        if(df["y_pred"][i] != None and df["y_pred"][i] != "error"):
            continue
        print(i)
        chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
        row = df.iloc[i]
        if (row["table_name"] != last["table_name"]):
            last = row
        Table_A = last["table_A"]
        Table_B = last["table_B"]
        Column_A = row["column_index_left"]
        Column_B = row["column_index_right"]
        try: 
            result = chain.run(Column_A = str(Column_A), Column_B = str(Column_B), Table_A = Table_A, Table_B = Table_B, callbacks=[handler])
        except Exception as e:
            print(e)
            df.loc[i, 'y_pred'] =  'error'
            df.loc[i, 'prompt_name'] = prompt_name
            df.loc[i, 'prompt'] = chain.prompt.format_prompt(Column_A = str(Column_A), Column_B = str(Column_B), Table_A = Table_A, Table_B = Table_B).text
            continue
        handler.langfuse.flush()
        prompt_text = chain.prompt.format_prompt(Column_A = str(Column_A), Column_B = str(Column_B), Table_A = Table_A, Table_B = Table_B).to_string()
        if (i < 5):
            print(prompt_text)
            print("Actual Result:\n" + str(row["y_true"]) + "\n")
            print("\n")
            print(result)
            print("\n")
        
        if (i % 50 == 0):
            print(str(i) + " of  " + str(len(df)))
            
        if "true" in result.lower():
            column_pred = "True"
        elif "false" in result.lower():
            column_pred = "False"
        else: 
            print(prompt_text)
            print("Actual Result:\n" + str(row["y_true"]) + "\n")
            print("\n")
            print(result)
            print("\n")
            column_pred = "Error"
        df.at[i, 'y_pred'] =  column_pred
        df.at[i, 'prompt_name'] = prompt_name
        df.at[i, 'prompt'] = prompt_text
    return df

df = execute(df, PROMPT, prompt_name)

0
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Task: Identify if Column-A-0 in Table A and Column-B-0 in Table B are matching columns. Return "True" if they are matching and "False" if they are not.
ONLY return "True" or "False". Do not return anything else.
Actual Result:
True



True


0 of  450
1
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Task: Identify if Column-A-3 in Table A and Column-B-0 in Table B are matching columns. Return "True" if they are matching and "False" if they are not.
ONLY return "True" or "False". Do not return anything else.
Actual Result:
False



False


2
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Task: Identify if Column-A-4 in Table A and Column-B-0 in Table B are matching columns. Return "True" if they are matching and "False" if they are not.
ONLY return "True" or "False". Do not return anything else.
Actual Result:
False



False


3
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Task: Identify if Column-A-2 in Table A and Column-B-0 in Table B are matching columns. Return "True" if they are matching and "False" if they are not.
ONLY return "True" or "False". Do not return anything else.
Actual Result:
False



False


4
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Task: Identify if Column-A-0 in Table A and Column-B-3 in Table B are matching columns. Return "True" if they are matching and "False" if they are not.
ONLY return "True" or "False". Do not return anything else.
Actual Result:
False



False


5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
50 of  450
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
100 of  450
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
150 of  450
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
200 of  450
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
250 of  450
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
300 of  450
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
350 of  450
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
400 of  450
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449

In [7]:
df.head(5)

,table_index,table_name,column_index_left,column_index_right,y_true,y_pred,prompt_name,prompt,column_table_A,column_table_B,table_A,table_B
0,0,29021592_3_2299138476894681059,0,0,True,True,zero_shot_single_table,Human: Question:\nTable A:\n| Column A-0 | C...,Domitian | Hadrian | Nerva | Titus | Trajan,Marcus Silius Messala | Titus | Hadrian | Vesp...,| Column A-0 | Column A-1 | Column ...,| Column B-0 | Column B-1 | Colum...
1,1,29021592_3_2299138476894681059,3,0,False,False,zero_shot_single_table,Human: Question:\nTable A:\n| Column A-0 | C...,Titus Flavius Domitianus | Publius Aelius Hadr...,Marcus Silius Messala | Titus | Hadrian | Vesp...,NaN,NaN
2,2,29021592_3_2299138476894681059,4,0,False,False,zero_shot_single_table,Human: Question:\nTable A:\n| Column A-0 | C...,81-96 | 117-8 | 96-8 | 79-81 | 98-117,Marcus Silius Messala | Titus | Hadrian | Vesp...,NaN,NaN
3,3,29021592_3_2299138476894681059,2,0,False,False,zero_shot_single_table,Human: Question:\nTable A:\n| Column A-0 | C...,nan | nan | nan | nan | nan,Marcus Silius Messala | Titus | Hadrian | Vesp...,NaN,NaN
4,4,29021592_3_2299138476894681059,0,3,False,False,zero_shot_single_table,Human: Question:\nTable A:\n| Column A-0 | C...,Domitian | Hadrian | Nerva | Titus | Trajan,nan | Imperator Titus Caesar Vespasianus Augus...,NaN,NaN

In [6]:
df.to_csv(OUTPUT_PATH, index = True)